.App{
  background-color: rgb(255, 245, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.btn-enviar{
  width: 100px;
    margin: 9px auto;
    font-size: 22px;
    border: 3px solid rgb(201 171 134);
    background-color: #e5ccb4e6;
}
.principal-div{
  background-color: antiquewhite;
  width: 100%;
  max-width: 400px;
}
.experiencia{
  background-color: rgb(208, 175, 133);
  display: flex;
  flex-direction: column;
  margin: 10px;

}
.educacion{
  background-color: rgb(208, 175, 133);
  display: flex;
  flex-direction: column;
  margin: 10px;

}

.skills{
  background-color: rgb(208, 175, 133);
  display: flex;
  flex-direction: column;
  margin: 10px;

}
.idiomas{
  background-color: rgb(208, 175, 133);
  display: flex;
  flex-direction: column;
  margin: 10px;

}

.div-test{
  display: flex;
  flex-direction: column;

}
.exp-form{
  display: flex;
  flex-direction: column;
}
.edu-form{
  display: flex;
  flex-direction: column;
}

.skills-form{
  display: flex;
  flex-direction: column;
}
.idiomas-form{
  display: flex;
  flex-direction: column;
}

.no-display{
  display: none;
}